     

        #navbar{
                         font-family: Helvetica, serif;
						 font-weight:bold;
                         height: 1.8em;
                         background-color: #280000;
                         overflow: hidden;
                }
        #Introduction{
                                background-color:white;
                                width:100%;
								margin: auto;
                    }
     
                   
        #footer{
                        position: absolute;
   			left: 0;
   			bottom: 0;
   			width: 100%;
   			background-color: white;
   			color: black;
   			text-align: center;
        }


        #Introduction{
                        font-family: Helvetica, serif;                
                        margin:center;
						width:30%;              
                        text-align:center;
			font-size: 120%;
        }
            
        
        


 #navbar ul{
             margin: 0;
                        padding: 0;
                        list-style-type: none;
                        }
#navbar a{
         float:LEFT;
                 white-space: nowrap;
                 border-right: 1px #EBEBEB solid;
                 padding: 3px 15px 4px 15px;
                 color:white;
                 text-decoration:none;
                 }
#navbar a:hover{
                background-color: #EBEBEB;       
                         color: #336666;
                         border-right: 3px #999999 solid;
                         border-bottom: 3px #999999 solid;
                         padding-bottom: 3px;
                         }
#adheader{      background-color: white;
           text-align: center;
                   padding: 30px;
                   }
				   #ITCareer{
                                font-family: Helvetica, serif;
								background-color:white;
                                width:100%;
								margin: auto;
								text-align:center;
				   }
				   #contactMe{
                                font-family: Helvetica, serif;
								background-color:white;
                                width:100%;
								margin: auto;
								text-align:center;
				   }
